In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://storage.googleapis.com/gmtempor/reco_sample_dataset.csv')

In [3]:
df.head()

,partition_date,orderparentid,user_id,productcontentid,brand_id,category_id,category_name,gender,price,color_id,business_unit
0,2020-08-20 06:00:00,335057357,86386,39328996,919155,418,Sandalet,Kadın,319.98,14.0,Branded Shoes B
1,2020-08-24 10:00:00,337401625,59469,31903343,121,1827,Banyo Dolabı,Unisex,1195.56,3.0,Bahçe & Yapı Market & Hırdavat
2,2020-08-26 19:00:00,338457012,51248,34726400,40,604,T-Shirt,Kadın,37.99,14.0,PL Woman
3,2020-08-22 11:00:00,336681542,29380,32920640,7651,604,T-Shirt,Kadın,24.99,6.0,Kadın A
4,2020-08-20 19:00:00,335736916,68368,39035716,3395,599,Kazak,Kadın,79.90,16.0,Kadın A

In [5]:
import sqlite3

conn = sqlite3.connect(":memory:")

In [7]:
len(df.business_unit.unique())

86

In [11]:
df[['user_id','business_unit','partition_date']].to_sql("time_variant_recommendation", conn)

In [26]:
user_bu_tv = pd.read_sql("""
select user_id, business_unit, hours from 
(select r.*
, cast( (JulianDay(datetime('now')) - JulianDay(partition_date) )  * 24 as integer) hours 
from time_variant_recommendation r) foo

""", conn)

In [30]:
import numpy as np 


user_bu_tv['weight'] = np.exp(-user_bu_tv.hours)

In [33]:
user_bu_tv.groupby('user_id').transform(lambda x: x/x.max())

           hours         weight
0       0.653846   2.820770e-53
1       1.000000   1.000000e+00
2       0.130346   1.000000e+00
3       0.303797   1.000000e+00
4       0.512315   3.917470e-64
...          ...            ...
508223  0.726236  2.390029e-221
508224  0.867454  5.924290e-224
508225  0.153266   9.854155e-34
508226  1.000000  1.652562e-233
508227  1.000000   3.860335e-97

[508228 rows x 2 columns]

In [34]:
user_bu_tv['weight'] = _33['weight']

In [38]:
user_bu_tv

        user_id                   business_unit  hours         weight
0         86386                 Branded Shoes B    221   2.820770e-53
1         59469  Bahçe & Yapı Market & Hırdavat    121   1.000000e+00
2         51248                        PL Woman     64   1.000000e+00
3         29380                         Kadın A    168   1.000000e+00
4         68368                         Kadın A    208   3.917470e-64
...         ...                             ...    ...            ...
508223    82960                 Branded Shoes B    573  2.390029e-221
508224    35173                        PL Woman    661  5.924290e-224
508225    14468                         Kadın A    122   9.854155e-34
508226    37697                      Beyaz Eşya    717  1.652562e-233
508227    69563                      GAS Casual    645   3.860335e-97

[508228 rows x 4 columns]

In [47]:
import pandas as pd

def __my_flatten_cols(self, how="_".join, reset_index=True):
    how = (lambda iter: list(iter)[-1]) if how == "last" else how
    self.columns = [how(filter(None, map(str, levels))) for levels in self.columns.values] \
                    if isinstance(self.columns, pd.MultiIndex) else self.columns
    return self.reset_index() if reset_index else self
pd.DataFrame.my_flatten_cols = __my_flatten_cols

In [53]:
pd.pivot_table(user_bu_tv, values="weight", index="user_id", columns="business_unit", fill_value=0)

business_unit,Aksesuar,Anne & Bebek Bakım,Aydınlatma,Bahçe & Yapı Market & Hırdavat,Bahçe Mobilyası,Banyo,Bebek Bezi & Mendil,Beyaz Eşya,Bilgisayar & Tablet & Aksesuarları,Books,...,Sportswear,TV & Görüntü Ses Sistemleri,Takı,Unknown BusinessUnit,Vücut Bakım,Yatak Oda Mobilyası,Çanta & Valiz,Çocuk,Çocuk Gereç,İç Giyim
user_id,,,,,,,,,,,,,,,,,,,,,
101,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,1.0
102,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
103,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
104,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
105,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112533,0,0.0,0.0,3.071570e-202,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
112534,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,2.800909e-205,...,0.0,0.0,1.000560e-271,0,0.0,0.0,0.0,0.0,0.0,0.0
112535,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,1.0,0.0
112536,0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0
112538,0,0.0,0.0,1.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0